%Clearfix:before,
%Clearfix:after
{
  display: table;

  content: ' ';
}

%Clearfix:after
{
  clear: both;
}

%Inline
{
  @extend %Clearfix;
  & > *
  {
    float: left;
  }
}

%Max-Width
{
  max-width: 1360px;
  margin: 0 auto;
}

%Wrapper-Width
{

  max-width: 1160px;
  margin: 0 auto;
}

%Std-Button
{
  @extend %Std-Transition;
  padding: 15px 30px;
  font-size: 22rem;

  border-radius: 5px;
  background-color: $C-Attention;
  box-shadow: 0 1px 3px 0 rgba(221, 53, 36, 0.4);

  &:hover{
    @extend %Std-Transition;
    background-color: $C-Attention-d;
  }

}