%Unclickable
{
	cursor : default;
}

%Unselectable
{
	@extend %Unclickable;
	& *::selection
	{
		background-color : transparent;
	}
	&::selection
	{
		background-color : transparent;
	}
}

%Std-Transition
{
	transition : all 0.2s;
}



%Std-Input
{




	&:focus
	{

	}
}

%Std-Label
{


	@include Adaptive(">=ipad-P")
	{

	}

}

%Uppercase
{
	text-transform : uppercase;
}

%Form-Circle
{
	border-radius : 50%;
}

%Form-Rounded
{
	border-radius : 4px;
}

%Shadow-Outset
{

}

%Shadow-Button
{

	&:hover
	{

	}
}

%Control-Base-1{
  @extend %Form-Rounded;
  border: 1px solid $C-Primary;
}



