html
{
  font-size: 1px;
  position: relative;

}

body
{
  overflow-x: hidden;
  min-height: 100vh;
}

input, button:focus
{
  outline: none;
}

button
{
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

h1
{
  line-height: 38rem;

  color: white;
  font-size: 36rem;
  @include Adaptive('>=tablet')
  {
    line-height: 50rem;
    font-size: 40rem;
  }

}

h2
{

}

h4
{

}

p
{
  color: $C-Text;
  font-size: 16rem;
  line-height: 23rem;
}

html
{
  height: 100%;
  font-size: 1px;

}

body
{

  height: 100%;
  background-color: #282828;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

main
{

}

input, textarea
{
  @extend %Form-Rounded;
  @extend %Std-Transition;
  padding: 13px 20px;
  font-size: 12rem;
  font-weight: 300;
  font-style: italic;
  color: $C-Text;

  outline: none;

}

.Header-Wrap
{
  height: 100%;
  max-height: 560px;
  @include Adaptive('>=ipad-L')
  {
    max-height: 800px;
  }
}

.Footer-Wrap
{

}

.Svg-Container
{
  display: none;
  opacity: 0;
  visibility: hidden;
}


