.About-Wrap
{
  display: table;
  width: 100%;
  @include Adaptive('>=1100px')
  {
    display: block;
  }

  .Advantages
  {
    display: table-footer-group;
    @include Adaptive('>=1100px')
    {
      display: table;
    }
  }

}

.Advantages
{
  position: relative;

  max-width: 1200px;

  font-size: 0;
  @include Adaptive('>=1100px')
  {

    width: 100%;
    margin: -269px auto 0;
  }

  @at-root .Advantage
  {
    @extend %Wrapper-Width;
    @extend %Std-Transition;
    position: relative;
    max-width: 400px;
    padding: 20px 0 ;
    vertical-align: top;
    @include Adaptive('>=1100px')
    {
      display: table-cell;
      padding: 0;
      .Content
      {
        margin: 0 auto;
        max-width: 360px;
      }
      &:hover
      {

        z-index: 2;
        transition: all 0.2s;
        transform: scale(1.1);
        .Content
        {
          transition: all 0.2s;
          border: 1px solid $C-Primary-d;
        }
        .Title
        {
          transition: all 0.2s;
          background-color: $C-Primary-d;
        }
        .Button-Holder
        {
          transition: all 0.2s;
          border: 1px solid $C-Primary-d;
          button
          {

            transition: all 0.2s;
            background-color: $C-Primary-d;
          }

        }

      }
    }

    .Content .Button-Holder
    {
      @extend %Unselectable;
      button
      {

        @extend %Std-Transition;
        &:hover
        {
          @extend %Std-Transition;
          background-color: $C-Primary-d;

        }
      }

    }


    will-change: transform;




    .Content
    {
      @extend %Std-Transition;

      display: table;
      height: 100%;
      background-color: white;
      border-radius: 4px 4px;
      @include Adaptive('>=460px')
      {
        border-radius: 4px;
        border: 1px solid $C-Primary;
      }
      .Title
      {
        @extend %Std-Transition;
        background-color: $C-Primary;
        h2
        {

          padding: 20px;
          font-size: 24rem;
          line-height: 28rem;
          color: white;
          text-align: center;
        }
        img
        {
          width: 100%;
          height: 200px;
        }
      }
      .Description
      {
        padding: 20px;
        @include Adaptive('>=ipad-P')
        {
          padding: 24px;
        }

        p
        {
          text-align: justify;
          line-height: 26rem;
        }
        ul
        {
          margin-top: 20px;
        }
        li
        {
          line-height: 33rem;
          font-size: 16rem;
          &:before
          {
            @extend %Form-Rounded;
            content: '';
            display: inline-block;
            width: 4px;
            height: 4px;
            vertical-align: middle;
            background-color: $C-Text;
            margin-right: 4px;
          }
        }
      }
      .Bottom
      {
        padding: 24px;

      }
      .Button-Holder
      {
        @extend %Std-Transition;
        display: table;
        width: 100%;
        @extend %Control-Base-1;

        .Price, button
        {
          display: table-cell;
          vertical-align: middle;

        }
        .Price
        {
          width: 50%;
          font-size: 16rem;
          color: $C-Text;
          font-weight: 700;
          text-align: center;

          span
          {
            font-size: 22rem;
            color: $C-Attention;
          }
        }
        button
        {
          @extend %Std-Transition;
          line-height: 50px;
          background-color: $C-Primary;
          font-size: 18rem;
          font-weight: 500;
          color: white;
          width: 100%;
          height: 100%;

        }
      }

    }

  }
}

.About-Us
{
  @extend %Wrapper-Width;
  padding: 40px 0;
  @include Adaptive('>ipad-L')
  {
    padding: 100px 0 50px;
  }

  h2
  {
    @extend %Uppercase;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
  }

  p
  {
    text-align: center;
    max-width: 845px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    & + p
    {
      margin-top: 30px;
    }
  }

}