.Contacts
{

  @include Adaptive('>=tablet')
  {
    padding: 50px 0 0;
  }

  .Head
  {

    @include Adaptive('>=tablet')
    {
      display: table;
      margin: 0 auto 40px;
    }
    .Phones
    {
      &:link
      {
        color: inherit;
        background-color: transparent;
        box-shadow: none;
      }
    }
    .Socials
    {
      text-align: center;
      h2
      {

        @include Adaptive('>=tablet')
        {
          margin-bottom: 20px;
        }
      }
      a
      {
        display: inline-block;
        vertical-align: middle;
        & + a
        {
          margin-left: 5px;
        }
        &:hover
        {
          svg
          {
            @extend %Std-Transition;
            fill: $C-Attention;
          }
        }
      }
      svg
      {
        @extend %Std-Transition;
        padding: 10px;
        width: 25px;
        height: 25px;
        fill: $C-Socials;
      }

    }
    li
    {

      padding: 35px 20px;
      border-bottom: 2px solid $C-Attention;
      &:last-of-type
      {
        border-bottom: none;
      }
      @include Adaptive('>=tablet')
      {
        display: table-cell;
        width: 306px;
        padding: 35px 10px;
        vertical-align: top;
        border-bottom: none;
      }
      @include Adaptive('>=ipad-L')
      {
        padding: 0 50px;
      }

      h2
      {
        @extend %Uppercase;
        padding-bottom: 16px;
        font-weight: 500;
        font-size: 18rem;
        color: $C-Text;
        text-align: center;
        @include Adaptive('>=tablet')
        {
          border-bottom: 2px solid $C-Attention;
        }

      }
      p
      {
        margin-top: 4px;
        font-weight: 500;
        font-size: 16rem;
        text-align: center;
        @include Adaptive('>=tablet')
        {
          margin-top: 30px;
          text-align: initial;
        }
      }
    }

  }

  .Content
  {
    position: relative;
  }

  .Map
  {
    position: relative;

  }

  .Map-Rectangle
  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 80px;
    background: url("../img/triangle-bg.png") repeat center;

    @include Adaptive('>=ipad-D')
    {
      height: 166px;
      background: url("../img/map-rectangle.png") no-repeat center;
    }
  }

}