.Feedback-Wrap.Active
{
  transition: all linear .2s;

  visibility: visible;
  opacity: 1;
}

.Feedback-Wrap
{
  transition: all linear .2s;
  visibility: hidden;
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .45);

  opacity: 0;

  z-index: 2;

}

@at-root .Feedback
{
  display: table-cell;
  vertical-align: middle;

  .Modal
  {
    @extend %Form-Rounded;
    max-width: 320px;
    padding: 20px 24px;
    margin: 0 auto;
    background-color: white;
    border: 5px solid $C-Attention;
    h2
    {
      font-size: 24px;
      padding-bottom: 8px;
    }
    h3
    {
      color: $C-Text;
      font-size: 16rem;
      line-height: 16rem;
    }
    input, textarea
    {
      border: 1px solid $C-Attention;
      &:focus
      {
        @extend %Std-Transition;
        border: 1px solid $C-Attention-d;
      }
    }
    input
    {

      display: block;
      height: 38px;
      width: 100%;
      margin-top: 20px;

    }
    textarea
    {

      display: block;
      width: 100%;
      height: 128px;
      margin-top: 20px;
      resize: none;

    }
    button
    {
      @extend %Form-Rounded;
      @extend %Std-Transition;
      width: 100%;
      padding: 8px 0;
      font-size: 18rem;
      font-weight: 700;
      margin-top: 20px;
      color: white;
      background-color: $C-Attention;
      &:hover
      {
        @extend %Std-Transition;
        background-color: $C-Attention-d;
      }
    }

  }

}