.Site-Footer
{
  position: relative;
  max-width: 1200px;
  margin: -67px auto 0;
  padding: 0 8px;
  display: table;
  width: 100%;
  @include Adaptive('>=ipad-D')
  {
    margin: -100px auto 0;
    padding: 0 20px 40px;


  }
  .Copyright
  {
    display: table-cell;

    > span
    {
      display: inline-block;
      font-size: 12rem;
      color: white;
      line-height: 18rem;
      max-width: 200px;
      @include Adaptive('>=tablet')
      {
        font-size: 16rem;
        line-height: 24rem;

      }
    }
  }

  .Routine-Productions
  {
    display: table-cell;

    a{
      display: table;
      margin-left: auto;
      > span
      {
        display: table;
        margin-left: auto;
        font-size: 11rem;
        font-weight: 300;
        color: white;
        @include Adaptive('>=tablet')
        {
          font-size: 15rem;
        }
      }
    }
    svg
    {

      width: 84px;
      height: 28px;

      @include Adaptive('>=tablet')
      {
        width: 116px;
        height: 40px;
      }
    }

  }

}