.Header
{
  @extend %Max-Width;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  background: url("../img/bg-1.jpg") no-repeat center / cover;

  @at-root .Header-Top
  {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;

  }

  img
  {
    position: relative;
    max-width: 244px;
    margin-top: 16px;

    z-index: 1;
    @include Adaptive('>=tablet')
    {
      max-width: 300px;
      margin-top: 25px;

    }
    @include Adaptive('>=ipad-L')
    {
      max-width: 100%;
      margin-top: 50px;
    }
  }
  .Rectangle
  {
    position: absolute;
    width: 100%;
    height: 240px;
    left: 0;
    top: 0;
    right: 0;
  }

  @at-root .Header-Content
  {
    display: table-cell;
    width: 100%;

    vertical-align: middle;

    .Title
    {
      @extend %Wrapper-Width;

      @include Adaptive('>=ipad-L')
      {
        padding-left: 30px;
      }
    }

    h1
    {
      text-align: center;
      max-width: 385px;
      margin: 0 auto;
      @include Adaptive('>=ipad-L')
      {

        text-align: initial;
        margin: 0;
      }

    }

    a
    {
      @extend %Std-Button;
      display: table;
      color: white;
      position: absolute;
      bottom: 28px;
      left: calc(50% - 70px);
      font-size: 16rem;

      @include Adaptive('>=ipad-L')
      {
        position: relative;
        margin-top: 30px;
        bottom: auto;
        left: auto;
        font-size: 22rem;
      }

    }
  }

}