.Images
{

  @extend %Clearfix;
  @extend %Max-Width;
  font-size: 0;
  margin-top: 20px;

  @include Adaptive('>=ipad-L')
  {
    margin-top: 50px;
  }

  li
  {
    display: inline-block;
    width: 50%;
    border-bottom: 2px solid white;
    & + li
    {
      border-left: 2px solid white;
    }

    &:nth-of-type(2n + 3)
    {
      border-left: none;
      @include Adaptive('>=tablet')
      {
        border-left: 2px solid white;
      }

    }
    @include Adaptive('>=tablet')
    {
      &:nth-of-type(4n + 5)
      {
        border-left: none;

      }

    }

    @include Adaptive('>=tablet')
    {
      width: 25%;
    }
    img
    {
      max-width: 100%;
    }
    div
    {
      background-position: center !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      padding-bottom: 58%;
    }
  }
}